

<h2>Choose an option:</h2>
<div class="btn-group">
    <a href="@Url.Action("AllUsers", "Customer")" class="btn btn-primary">User settings</a>
    <a href="@Url.Action("AllRoles", "Customer")" class="btn btn-primary">All Roles</a>
    <a href="@Url.Action("CreateRole", "Customer")" class="btn btn-primary">Create a new role</a>
    
</div>

