

<h2>Choose an option:</h2>
<div class="btn-group">
    <a href="@Url.Action("AddBusinessAccount", "BankAccount")" class="btn btn-primary">Create an businessaccount</a>
    <a href="@Url.Action("BusinessAccountInfo", "BankAccount")" class="btn btn-primary">Businessaccount settings</a>
    <a href="@Url.Action("Index", "LoanTerm")" class="btn btn-primary">Loanterms settings</a>
</div>


