@model AllViewModel

@{
    int c = 0;
    int a = 0;
}

<table>
    <thead>
        <tr>
            <th>Card Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards)
        {
            c = card.Id;
            a = card.Account;
            <tr>
                <td>@card.CardNumber</td>
            </tr>
        <td>
            <form method="post" action="@Url.Action("RemoveCardFromAccount", "BankAccount", new { cardId = c, accountid = a })">
                    @Html.AntiForgeryToken()
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger">Remove card from account</button>
            </form>

</td>
        }
    </tbody>
</table>



